<div class="weatherWidget">
	{{#each partials.weatherContext.locations}}
		<div class="location">
			<h3>{{name}}</h3>
			{{#weather}}
				<a style="text-decoration: none;" target="_blank" href="https://openweathermap.org/city/{{../id}}"><img src="https://openweathermap.org/themes/openweathermap/assets/vendor/owm/img/widgets/{{icon}}.png" alt="{{description}}" title="{{description}}" />
				</a>
				<span>{{main}}</span>
			{{/weather}}
			{{#main}}
				<p><span class="badge badge-info">{{temp}}&deg;ะก</span> wind {{../wind.speed}} m/s. clouds {{../clouds.all}} %, {{pressure}} hpa</p>
			{{/main}}
  		</div>
  {{/each}}
  <small>Source: <a target="_blank" href="https://openweathermap.org">OpenWeatherMap</a></small>
</div>